<h1 class="title">Rock Paper Scissors</h1>
<h2 class="subtitle">Score</h2>
<p class="player-score">Player: {{score.player}}</p>
<p class="server-score">Server: {{score.server}}</p>

<div class="choices main-container">
  <img id="rock" class="move playerMove" src="images/rock.png" />
  <img id="paper" class="move playerMove" src="images/paper.png" />
  <img id="scissors" class="move playerMove" src="images/scissors.png" />
</div>
