body {
  font-family: sans-serif;
}

h1 {
  color: white;
  background-color: black;
}

#clickMe {
  font-size: 25px;
}
  

.ashton {
  color: #ff88ff;
}

.comic {
  font-family: 'Comic Sans MS';
  color: #ff88ff;
}
