body {
  font-family: sans-serif;
}

.title {
  text-align: center;
}

.title.draw {
  color: grey;
}

.title.win {
  color: blue;
}

.title.lose {
  color: red;
}

.move {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin:5px;
  cursor: pointer;
}

.playerMove {
  border: 5px solid blue;
}

.scoreboard {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.serverMove {
  border: 5px solid red;
}

.vs {
  vertical-align: top;
  text-align: center;
  margin 10px;
  font-size: 50px;
  line-height: 150px;
}

.player-score {
  color: blue;
}

.main-container {
  width: 520px;
  margin: 0 auto;
}

.server-score {
  color: red;
}

.robit {
  display: block;
  margin: 5px auto;
}

.continue-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: 5px solid black;
  font-color: black;
  font-size: 35px;
  font-weight: bold;
}

